venv/
.env
downloads/
__pycache__/
*.pyc
*.db
*.sqlite3
*.mp3
*.mp4
*.wav

# Android Ignores
.gradle/
build/
android_app/build/
android_app/app/build/
android_app/.gradle/
*.apk
*.aab

# Node & Expo Ignores
node_modules/
mobile_app/node_modules/
.expo/
mobile_app/.expo/
